@tailwind base;
@tailwind components;
@tailwind utilities;

/* Layout */
.min-h-layout {
  @apply min-h-[calc(100vh-144px)];
}
/* Buttons */
.btn-md {
  @apply h-9 min-h-9;
}

.btn-circle {
  @apply h-10 min-h-10 w-10 min-w-10;
}

/* Text */
[data-theme="dark"] .text-greeting {
  color: #f5f5f5;
}

[data-theme="dark"] .text-description {
  color: #a6adbb;
}

[data-theme="dark"] .text-muted {
  color: #9ca3af;
}

[data-theme="light"] .text-muted {
  color: #4b5563;
}

/* Alert */
[data-theme="dark"] .warn-alert {
  @apply border-red-600 bg-red-500/20;
}

[data-theme="light"] .warn-alert {
  @apply border-red-500 bg-red-50;
}

[data-theme="dark"] .warn-alert-text {
  @apply text-red-100;
}

[data-theme="light"] .warn-alert-text {
  @apply text-red-500;
}

/* MDX Editor */
.mdxeditor-popup-container button:nth-child(1) {
  @apply btn btn-primary btn-sm rounded-md border-none text-white;
}

.mdxeditor-popup-container button:nth-child(2) {
  @apply btn btn-error btn-sm rounded-md border-none text-white;
}

.mdxeditor .cm-editor {
  @apply !py-2;
}

.mdxeditor .cm-scroller {
  padding-bottom: 4px !important;
}

.mdxeditor .prose code {
  @apply !rounded-md !px-0.5;
}

.mdxeditor .prose code > span {
  background-color: transparent;
}

.mdxeditor-toolbar {
  scrollbar-width: none !important;
}

.mdxeditor-toolbar::-webkit-scrollbar {
  display: none !important;
}

/* Custom Scrollbar */

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
  background-color: #d6dee1;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}
