@tailwind base;
@tailwind components;
@tailwind utilities;

/* Layout */
.min-h-layout {
  @apply min-h-[calc(100vh-144px)];
}
/* Buttons */
.btn-md {
  @apply h-8 min-h-8;
}

.btn-circle {
  @apply h-10 min-h-10 w-10 min-w-10;
}

/* Text */
[data-theme="dark"] .text-greeting {
  color: #f5f5f5;
}

[data-theme="dark"] .text-description {
  color: #a6adbb;
}

[data-theme="dark"] .text-muted {
  color: #9ca3af;
}

[data-theme="light"] .text-muted {
  color: #4b5563;
}

/* Alert */
[data-theme="dark"] .warn-alert {
  @apply border-red-600 bg-red-500/20;
}

[data-theme="light"] .warn-alert {
  @apply border-red-500 bg-red-50;
}

[data-theme="dark"] .warn-alert-text {
  @apply text-red-100;
}

[data-theme="light"] .warn-alert-text {
  @apply text-red-500;
}
